@charset "utf-8";
/* CSS Document */

.principal { 
	background-image:url(../img/work-933061_1920.jpg);
    	display: table;
    	height: 100vh;
    	width: 100%;
	background-size: cover;
    	background-position: center center
	}
